/////////////////////////////////////////////////////// FOOTER ***

.footer {
    padding: 22px 25px;
    background: #353535;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-sizing: border-box;

    >h2 {
        margin-bottom: 9px;
    }

    >a {
        font-weight: 500;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;

        >i {
            font-size: 13px;
            width: 23px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    @media screen and (min-width: 769px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 15px;
        height: 114px;
        padding: 30px;

        >h2 {
            order: 5;
            margin-bottom: 0;
        }

        >a:nth-child(3) {
            margin-right: 30px;
        }

        >a:nth-child(5) {
            margin-right: 30px;
        }
    }
}